/*Home Page About Section*/
.homeAbout {
    background-color: var(--MidnightBlue);
    height: 25rem;
    margin: 6rem 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
}

.aboutItem {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    column-gap: 10rem;
    color: #fff;
}

.aboutLeftPane, .aboutRightPane {
    width: 50%;
    margin: auto;

}